# Estruturas de Controle

1. listas

In [13]:
# Estruturas de Dados - Lista

#a = [ 2, 3, 4, 5, 6, 7] -> Valores
# [ 0, 1, 2, 3, 4, 5] -> Posicoes

# Lista de Numeros

a = [ 2, 3, 4, 5, 6, 7]

# Lista de String
b = ['seja', 'um', 'cientista', 'de', 'dados']

# Lista de String + numeros

c = ['seja', 1, 'cientista', 10, [ 10, 'dua', 32, 'dfa', 'sfa'] ]

# Como adicionar um novo elemento na lista

c.append( 50 ) # Sempre coloca o elemento no final da lista
c.insert( 4, 40 ) # Sempre colocar o elemento na posicao desejada ( posicao,elemento )

# Como medir o tamanho da lista
print( c )
len( c )

# Criar uma lista vazia
d = []

['seja', 1, 'cientista', 10, 40, [10, 'dua', 32, 'dfa', 'sfa'], 50]

In [14]:
d

[]

2. Estrutura de controle - Condicional

In [15]:
# Condicionais que nos temos:
# Igual
# Maior
# Maior ou igual
# Menor
# Menor ou igual

In [16]:
import pandas as pd

In [17]:
data = pd.read_csv('/kc_house_data.csv')

In [18]:
# Logicas E ( AND )
# Logica de Multiplicacao

# Bedrooms | Floors
# TRUE | TRUE -> Resultado
# TRUE | FALSE -> ERRO
# FALSE | TRUE -> ERRO
# FALSE | FALSE -> ERRO

# TRUE & TRUE
#df = data[(data['bedrooms'] == 4) & ( data['floors'] == 2 )]

# TRUE & FALSE
#df = data[(data['bedrooms'] == 4) & ( data['floors'] == 20 )]

# FALSE & TRUE
#df = data[(data['bedrooms'] == 50) & ( data['floors'] == 2 )]

# FALSE & FALSE
df = data[(data['bedrooms'] == 50) & ( data['floors'] == 20 )]
df.head()

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [19]:
# Logicas OU ( OR )
# Logica de Soma

# Bedrooms | Floors
# TRUE | TRUE -> Resultado
# TRUE | FALSE -> Resultado
# FALSE | TRUE -> Resultado
# FALSE | FALSE -> ERRO

# TRUE & TRUE
#df = data[(data['bedrooms'] == 4) | ( data['floors'] == 2 )]

# TRUE & FALSE
#df = data[(data['bedrooms'] == 4) | ( data['floors'] == 20 )]

# FALSE & TRUE
#df = data[(data['bedrooms'] == 50) | ( data['floors'] == 2 )]

# FALSE & FALSE
#df = data[(data['bedrooms'] == 50) | ( data['floors'] == 20 )]
#df.head()

3 Laco FOR

In [10]:
# LOOP FOR
for i in range( 0, len( data ) ):
    if (data.loc[i, 'price'] > 0) & ( data.loc[i, 'price'] < 321950):
        data.loc[i, 'nivel'] = 'nivel_0'
        
    elif (data.loc[i, 'price'] >= 321950) & ( data.loc[i, 'price'] < 450000):
        data.loc[i, 'nivel'] = 'nivel_1'
        
    elif (data.loc[i, 'price'] >= 450000) & ( data.loc[i, 'price'] < 645000):
        data.loc[i, 'nivel'] = 'nivel_2'
        
    else:
        data.loc[i, 'nivel'] = 'nivel_3'

In [ ]:
#1. Qual a quantidade de imóveis por nível?
# - Nivel 0: Preço entre R$ 0.00 e R$ 321.950
# - Nivel 1: Preço entre R$ 321.950 e R$ 450.000
# - Nivel 2: Preço entre R$ 450.000 e R$ 645.000
# - Nivel 3: Preço acima de R$ 645.000

data = pd.read_csv('/kc_house_data.csv')

data['nivel'] = NA
data.loc[data[(data['price'] >= 0) & (data['price'] < 321950)], 'nivel'] ='nivel_0'
data.loc[data[(data['price'] >= 321950) & (data['price'] < 450000)], 'nivel'] = 'nivel_1'
data.loc[data[(data['price'] >= 450000) & (data['price'] < 645000)], 'nivel'] ='nivel_2'
data.loc[data[(data['price'] >= 645000)], 'nivel'] = 'nivel_3'

In [ ]:
#1. Qual a quantidade de imóveis por nível?
# - Nivel 0: Preço entre R$ 0.00 e R$ 321.950
# - Nivel 1: Preço entre R$ 321.950 e R$ 450.000
# - Nivel 2: Preço entre R$ 450.000 e R$ 645.000
# - Nivel 3: Preço acima de R$ 645.000

data = pd.read_csv('/kc_house_data.csv')

data['nivel'] = NA
data.loc[data[(data['price'] >= 0) & (data['price'] < 321950)], 'nivel'] ='nivel_0'
data.loc[data[(data['price'] >= 321950) & (data['price'] < 450000)], 'nivel'] = 'nivel_1'
data.loc[data[(data['price'] >= 450000) & (data['price'] < 645000)], 'nivel'] ='nivel_2'
data.loc[data[(data['price'] >= 645000)], 'nivel'] = 'nivel_3'

In [21]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

4 Laco WHILE

In [ ]:
import requests as r

i = 1
dataset = pd.DataFrame()
while True:
    print( 'page:{}'.format( i ) )
    url = 'https://jobs.github.com/positions.json?page={}'.format( i )
    response = r.request( 'GET', url )
    
    if response.json() != []:
        data = response.json()[0]
        df = pd.DataFrame( data, index=[0] )
        
        dataset = pd.concat( [ dataset, df], axis=0 )
        i = i + 1
        
        
    else:
        break