# 0. Loading  data

In [9]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv('\kc_house_data.csv')

In [10]:
# Analisando as cinco primeiras linhas da tabela

data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# 1. Quantas casas estão disponíveis para compra?

In [11]:
# Estrategia:
# 1. Selecionar a coluna "id"
# 2. Contar o numero de valores unicos

houses = len( data['id'].unique() )
print( 'O numero de casas disponiveis é de {}' .format( houses ) )

O numero de casas disponiveis é de 21436

# 2. Quantos atributos as casas possuem?

In [26]:
# O numero de colunas representam os atributos do apartamento.
# id e date - não são atributos da casa

num_attributes = len( data.columns ) - 2

print( 'Os imóveis posseum {} atributos'. format( num_attributes ) )

Os imóveis posseum 19 atributos

# 3. Quais são os atributos das casas?

In [27]:
# Considerando novamente que "id" e "date" não são atributos

data.drop( ['id', 'date'], axis=1 ).columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

# 4. Qual a casa mais cara (casa com o maior valor de venda)?

In [28]:
data[['id', 'price']].sort_values( 'price', ascending=False ).head()

              id      price
7252  6762700020  7700000.0
3914  9808700762  7062500.0
9254  9208900037  6885000.0
4411  2470100110  5570000.0
1448  8907500070  5350000.0

In [29]:
# Agora tenho que pegar a casa mais cara pelo valor do id (lebrar sempre de resetar index)

data[['id', 'price']].sort_values( 'price', ascending=False ).reset_index( drop=True ).loc[0, 'id']

print( 'A casa mais cara é:: {}' )

A casa mais cara é:: {}

# 5. Qual a casa com maior numero de quartos?

In [30]:
# Estratégia:
# 1. Selecionar a coluna "id", "bedroom"
# 2. Ordenar os imóveis pelo numero de quartos de ordem decrescente
# 3. Selecionar a primeira coluna "id"

data[['id', 'bedrooms']].sort_values( 'bedrooms', ascending=False ).head()

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10

In [31]:
data[['id', 'bedrooms']].sort_values( 'bedrooms', ascending=False ).reset_index( drop=True ).loc[0, 'id']

2402100895

# 6. Qual a soma total de quartos do conjunto de dados?

In [32]:
# Estratégia:
# 1. Somar a coluna "bedrooms"

data['bedrooms'].sum()

72854

# 7. Quantas casas possuem dois banheiros?

In [33]:
# Estratégia:
# 1. Filtrar linhas (imóveis) que possuem 2 banheiros.
# Selecionar as colunas "id" e "bathrooms"
# 2. Contar o número de linhas do dataset

data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']]

               id  bathrooms
4      1954400510        2.0
14     1175000570        2.0
16     1875500060        2.0
25     1202000200        2.0
37     2768000400        2.0
...           ...        ...
21531  5637500082        2.0
21547  3277800823        2.0
21550   880000205        2.0
21556   476000017        2.0
21604  9834201367        2.0

[1930 rows x 2 columns]

In [34]:
# Agora contar o numero de linhas do resultado acima

len( data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']] )

1930

# 8. Qual o preço médio de todas as casas desse conjunto de dados?

In [35]:
# Estratégia:
# 1. Calcular o preço médio da coluna "price"

# antes vamos verificar o tipo de dados, principalmentt do "price", é sempre interessante fazer operaçõe smatemáticae 
# em cima de números

data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [37]:
# Usando o round para determinar o número de casoas após a vírgula. Nesse momento importei a lib Nunpy.

np.round( data['price'].mean(),2 )

540088.14

# 9. Qual o preço médio das casas com dois banheiros?

In [43]:
np.round( data.loc[data['bathrooms'] == 2, 'price'].mean(), 2 )

457889.72

# 10. Qual o preço mínimo entre as casas com três quartos?

In [52]:
# Estratégia:
# 1. Selecionar imóveis com 3 bathrooms.
# 2. Calcular o menor preço da coluna "price" do novo conjunto de dados

data.loc[data['bedrooms'] == 3, 'price']. min()

82000.0

# 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [61]:
# Estratégia:
# 1. Selecionar imóveis com mais de 300 sqft_living.
# 2. Contar o número de imóveis nesse novo conjunto de dados.

# Antes vamos converter de "pés" para "metros" no caso será de "pé quadrado" para "metro quadrado"
data['m2'] = data['sqft_living'] * 0.093


len( data.loc[data['m2'] > 300, 'id'] )

2258

# 12. Quantas casas tem mais de dois andares?

In [64]:
len( data.loc[data['floors'] > 2, 'id'] )

782

# 13. Quantas casas tem vista para o mar?

In [65]:
# Estratégia:
# 1. Selecionar imóveis com a coluna 'waterfront' igual a 1.
# 2. Contar o número de imóveis nesse novo conjunto de dados.

len( data.loc[data['waterfront'] == 1, 'id'] )

163

# 14. Das casas com vista para o mar, quantas tem três quartos?

In [68]:
# Estratégia:
# 1. Selecionar imóveis com a coluna 'waterfront' igual a 1 e a coluna 'bedrooms' maior que 3.
# 2. Contar o número de imóveis nesse novo conjunto de dados.

len( data.loc[( data['waterfront'] == 1 ) & ( data['bedrooms'] == 3), 'id'] )

64

# 15. Das casa com mais de 300 m2 de sala de estar, quantas tem mais de dois banheiros?

In [73]:
len( data.loc[( data['m2'] > 300 ) & ( data['bathrooms'] > 2), 'id'] )

2201