# 0. Importando a lib Pandas e analisando as vari√°veis

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('Do_Zero_ao_DS\Datasets\kc_house_data.csv')

FileNotFoundError: [Errno 2] File Do_Zero_ao_DS\Datasets\kc_house_data.csv does not exist: 'Do_Zero_ao_DS\\Datasets\\kc_house_data.csv'

In [3]:
# mostrar na tela as primeiras 5 linnhas

print( data.head() )

NameError: name 'data' is not defined

In [31]:
# mostrar na tela os tipos de vari√°veis de cada coluna
# * por default o pandas l√™ todas as datas como objeto!

print( data.dtypes )

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [32]:
# Usando uma fun√ß√£o para converter de object (string) para date

data['date'] = pd.to_datetime( data['date'] )

In [33]:
# Mostrar na tela os tipos de dados das colunas para conferir

data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [34]:
# Nova confer√™ncia com dtype

data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

# 1. Como converter outros tipos de vari√°veis
1.0:  Inteiro -> Float
1.1:  Float   -> Inteiro
1.2:  Inteiro -> String
1.3:  String  -> Inteiro
1.4:  String  -> Data

In [35]:
# Inteiro -> Float (considerando a coluna "bedrooms")

data['bedrooms'] = data['bedrooms'].astype( float )

# Conferindo a troca da vari√°vel:

data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                float64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [41]:
# Float -> Inteiro (considerando a coluna "bedrooms")
# Importante: nesse caso converteu para "int32, temos que converter para "int64, pois as outras vari√°veis s√£o 'int64'.
# s√≥ que o int64 √© de outra Lib, a Numpy, por isso precisamos importar o Numpy agora.

data['bedrooms'] = data['bedrooms'].astype( 'int64' )

data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [43]:
# Inteiro -> String

data['bedrooms'] = data['bedrooms'].astype( str )

data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                 object
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [45]:
# String -> Inteiro

data['bedrooms'] = data['bedrooms'].astype( 'int64' )

data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object